<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales>
            <ordercomments>
                <show_in_checkout>1</show_in_checkout>
                <show_in_account>1</show_in_account>
                <collapse_state>0</collapse_state>
            </ordercomments>
        </sales>
    </default>
</config>
